*{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 0%;
}
#form_container{
    width: 30%;
    height: 100%;
    background-color: white;
    padding: 1%;
}
#form_container>h1{
    text-align: center;
    height: 10%;
    margin: 0%;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 90%;
    background-color: white;
}
#calculateBtn{
    width: 100%;
    padding: 4% 0%;
    font-size: 130%;
    background-color:rgba(83, 234, 234, 0.692);
    color: white;
    border: 2px solid grey;
}
h1{
    color:rgba(83, 234, 234, 0.692) ;
}
label{
    color: rgba(83, 234, 234, 0.692);
    font-size: 130%;
    font-weight: bolder;
}